<launch>
  <!-- Map server -->
  <arg name="map_file" default="$(find particle_filter)/maps/STAR_map_cleaned.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Localization -->
  <node name="filter" pkg="particle_filter" type="pf_level2.py" output="screen"/>

  <!-- RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find particle_filter)/rviz/navigation.rviz"/>
</launch>
