<launch>
  <!-- Map server -->
  <arg name="map_file" default="$(find particle_filter)/maps/map1.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Localization -->
  <node name="filter" pkg="particle_filter" type="pf_level2.py" output="screen"/>
</launch>
